body{
    background-color: gainsboro;
}

.logo{
    width: 8em;
    height: 8em;
    margin-top: 1em;
    margin-left: 1em;
}

.navbar{
    background-color: gainsboro;
}


#navbarNav{
    text-align: end;
    margin-right: 1em;
}

.navbar-toggler:hover{
    background-color: rgb(119, 117, 117);
}

main{
    width: 100%;
    background-color: rgb(119, 117, 117)
}

.jumbotron{
    width: 100%;
    height: 40em;
    background-image: url(/fotos/trigo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   align-items: center;
   justify-content: center;
}

.container p{
    width: 70%;
    background-color: rgb(11, 11, 59);
    color: cornsilk;
    padding: 2em;
    text-align: justify;
    margin-left: 9em;
    margin-top: 6em;   
}

.container button{
    background-color: cornsilk;
    color: rgb(11, 11, 59);
    text-align: center;
    margin-left: 30em;
    text-decoration: none;
}

.container button:hover{
    transform: scale(1.2);
    transition-duration: 0.2s;
    text-decoration: none;
    color: currentColor;
}

.index{
    height: 40em;
    display: flex;
    flex-direction: row;
    justify-content: center;
  
}

.mleft{
    height: 40em;
    width: 50%;
    background-image: url(/fotos/vacascampo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 1em;
}

.mright{
    width: 50%;
    height: 40em;
    background-color: rgb(7, 7, 39);
    margin-right: 1em;
}

.mright p{
    height: 19em;
    text-align: justify;
    justify-content: center;
    padding: 3em;
    color: rgb(218, 218, 218);
    margin-top: 13em;   
}

.card {
    margin-top: 5em;
    text-align: center;
    border: none;
    align-items: center;
    background-color: gainsboro;

}

.card a {
    width: 20em;
    height: 20em;
}

.card h5 {
    color: grey;
    text-align: center;
    font-size: 15px;
}


.snapwidget-widget{
    width: 50%;
    height: auto;
}

.footer {
    width: 100%;
    background-color: whitesmoke;
}

.footer div {
    width: 100%;
    color: rgb(170, 170, 170);
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    margin-bottom: 1em;
}

.footer p {
    margin-left: 1em;
}

.icono {
    width: 2em;
    height: 2em;
    margin-top: 1em;
    margin-left: 2em;
    margin-bottom: 0.5em;
}

h2 {
    width: 100%;
    height: 2em;
    text-align: center;
    background-color: rgb(7, 7, 39);
    color: whitesmoke;
    font-weight: lighter;
}

.row {
    margin-top: 1em;
}

.card-title {
    font-size: 2em;
}

.card-text {
    font-size: 1.2em;
    text-align: justify;
}

form {
    background-color: rgb(7, 7, 39);
    color: whitesmoke;
    margin-top: 1em;
    margin-bottom: 1em;
}