
.indexInfo {
    margin-top: 2em;
    background-color: $color3;
    height: max-content;
    border-top-left-radius: 6%;
    border-top-right-radius: 6%;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;

// info izquierda
    .veterinaria {
        width: 100%;
        color: $color4;
        margin-top: 0%;
        text-align: justify;
        margin-bottom: 0%;
        display: flex;
        flex-direction: column;

        .vetTrabajo{
            @include textos;
            padding: 2em;
            width: 100%;
        }

        h3 {
            margin-top: 1em;
            text-align: center;
            @include texto-index;
            font-size: 30px;
            width: 100%;
        }
        
    }

// info derecha
    .infoTrabajo {
        @extend .veterinaria;
        align-items: center;
        width: 100%;
        padding: 1em;
    
        .vetContacto{
            @include textos;
            width: 100%;
        }

        a .btn {
            margin-bottom: 1em;
        }

        .btn:hover {
            @include buttonHover();
        }

    }
}


@media screen and (min-width: 901px) {
    .indexInfo{
        display: flex;
        flex-direction: row;
        .veterinaria{
            h3{
                text-align: start;
                margin-left: 1.2em;
            }
        }
        .vetContacto{
            padding: 1em;
        }
    }
}