.sectionServicios{
    display: flex;
    flex-direction: column;
    align-items: center;

    .sanidad{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color3;
        margin-top: 2em;
        padding: 1em;

        .serv__foto{
            width: 90%;
            min-height: 300px;
            background-image: url(../fotos/walterypato.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .servicios{
            width: 100%;
            display: flex;
            flex-direction: column;
            .serv__titulo{
                @include texto-index;
                padding: 0%;
                margin-top: 1em;
            }    

            p{
                @include textos;
                padding: 1em;
                margin-top: 0%;
            }
        }
    }

    .reproduccion{
        @extend .sanidad;
        .serv__foto{
            background-image: url(../fotos/insem.jpg) 
        }
    }

    .analisis{
        @extend .sanidad;
        .serv__foto{
            background-image: url(../fotos/triquinas.jpg) 
        }
    }

    .venta{
        @extend .sanidad;
        .serv__foto{
            background-image: url(../fotos/valvula.jpg);
        }
        margin-bottom: 1em;

    }
}

@media screen and (min-width: 720px) {
.sectionServicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    .sanidad{
        flex-direction: row;
    }
    .reproduccion{
        flex-direction: row-reverse;
    }
    .venta{
        flex-direction: row-reverse;
    }
}

}