.sectionServicios{
    display: flex;
    flex-direction: column;

    .sanidad{
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background-color: $color3;
        margin-top: 2em;

        .serv__foto{
            width: 30%;
            margin-left: 2em;
            padding: 1em;
        }

        .serv__titulo{
            @include texto-index;
            margin-top: 1em;
        }

        .servicios{
            width: 50%;
            display: flex;
            flex-direction: column;

            p{
                @include textos;
                padding: 2em;
                margin-top: 0%;
            }
        }
    }

    .reproduccion{
        @extend .sanidad;
        flex-direction: row-reverse;
        margin-left: 16em;
    }

    .analisis{
        @extend .sanidad;
    }

    .venta{
        @extend .reproduccion;

      .venta__foto{
          width: 25em;
          height: auto;
      }
    }
}