@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&family=Open+Sans:wght@300&family=Poppins:wght@200&family=Raleway:wght@200&display=swap');


//variables
$color1: rgb(245, 243, 243);
$color2: rgb(63, 60, 60);
$color3: rgb(197, 178, 133);
$color4: rgb(255, 255, 255);
$color5: rgb(226, 222, 214);
$color6: rgb(28, 23, 58);
$h2: 18px;

//maps
$fontSizes: ("small": 16px, "medium": 22px, "large": 30px);

// mixins
@mixin logo {
    width: 5em;
    height: 5em;
    margin-top: 0.5em;
    margin-left: 1em;
}

@mixin texto-index {
    font-size: map-get($fontSizes, "large");
    font-family: 'Raleway', sans-serif;
    color: grey;
    text-decoration: gray;
    background: -webkit-linear-gradient(rgb(126, 28, 28), rgb(18, 12, 51));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin textos {
    font-size: map-get($fontSizes, "small");
    color: $color4;
    font-weight: normal;
    text-align: justify;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

@mixin footer-p {
    color: $color4;
    font-family: 'Montserrat', sans-serif;
    font-size: map-get($fontSizes, "small");
    margin-bottom: 0.5em;
}

@mixin borderFooter {
    border-left-color: $color6;
    border-left-style: solid;
    border-left-width: 1px;
    padding: 2em;
}

@mixin mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@mixin buttonHover{
    transform: scale(1.1);
    border-style: solid;
    border-width: 1px;
    border-color: $color4;
}



// estilos

* {
    margin: 0%;
    padding: 0%;
}


body {
    background-color: $color1;
}

main{
width: 100%;
}

h1 {
    @include texto-index;
    text-align: center;
    font-size: map-get($fontSizes, "large");
    padding: 1em;
}

// navbar
.logo {
    @include logo();
}


#navbarNav {
    text-align: end;
    margin-right: 1em;
    justify-content: end;
}


.navbar-toggler:hover {
    background-color: $color2;
}

// index
.intro {
    @include mobile;
    width: 100%;
    height: fit-content;

    h1 {
        width: 90%;
        text-align: center;
        padding: 1em;     
        @include texto-index;
        font-size: 23px;
        margin-bottom: 0%;
    }

    .introImg {
        width: 100%;
        height: 20em;
        padding: 3em;
        background-image: url(../fotos/vacasIndex.JPG);
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
    }

}

// asesoramiento

.asesoramiento{
    width: 90%;
    background-color: $color3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    margin-bottom: 1em;
    margin-left: 1em;
    

    img{
        width: 90%;
        margin-top: 1em;
    }

    p{
        @include textos;
        padding: 1.5em;
    }

}

// media queries

@media screen and (min-width: 720px) {
    .intro{
        display: flex;
        flex-direction: row;
        
        h1{
            width: 50%;
        }
        .introImg{
            width: 50%;
        }
    }
    .asesoramiento{        
        display: flex;
        flex-direction: row;
        margin-left: 4em;
        img{
            width: 50%;
            padding: 1em;
        }
        p{
            width: 50%;
        }
    }
}

// partials
@import "info";
@import "footer";
@import "nosotros";
@import "servicios";
@import "contacto";


