@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&family=Open+Sans:wght@300&family=Poppins:wght@200&family=Raleway:wght@200&display=swap");
* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: #f5f3f3;
}

main {
  width: 100%;
}

h2 {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  color: grey;
  -webkit-text-decoration: gray;
          text-decoration: gray;
  background: -webkit-linear-gradient(#7e1c1c, #120c33);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 30px;
  padding: 1em;
}

.logo {
  width: 5em;
  height: 5em;
  margin-top: 0.5em;
  margin-left: 1em;
}

#navbarNav {
  text-align: end;
  margin-right: 1em;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.navbar-toggler:hover {
  background-color: #3f3c3c;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.intro h1 {
  width: 90%;
  text-align: center;
  padding: 1em;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  color: grey;
  -webkit-text-decoration: gray;
          text-decoration: gray;
  background: -webkit-linear-gradient(#7e1c1c, #120c33);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 23px;
  margin-bottom: 0%;
}

.intro .introImg {
  width: 100%;
  height: 20em;
  padding: 3em;
  background-image: url(../fotos/vacasIndex.JPG);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.asesoramiento {
  background-color: #f7f1e3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1em;
  margin-bottom: 1em;
}

.asesoramiento img {
  width: 90%;
  margin-top: 1em;
}

.asesoramiento p {
  font-size: 16px;
  color: #6b695f;
  font-weight: normal;
  text-align: justify;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

@media screen and (min-width: 901px) {
  .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .intro h1 {
    width: 50%;
  }
  .intro .introImg {
    width: 50%;
  }
  .asesoramiento {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .asesoramiento img {
    width: 50%;
    padding: 1em;
  }
  .asesoramiento p {
    width: 50%;
  }
}

.indexInfo {
  margin-top: 2em;
  background-color: #f7f1e3;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-top-left-radius: 6%;
  border-top-right-radius: 6%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.indexInfo .veterinaria, .indexInfo .infoTrabajo {
  width: 100%;
  color: #6b695f;
  margin-top: 0%;
  text-align: justify;
  margin-bottom: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.indexInfo .veterinaria .vetTrabajo, .indexInfo .infoTrabajo .vetTrabajo {
  font-size: 16px;
  color: #6b695f;
  font-weight: normal;
  text-align: justify;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  padding: 2em;
  width: 100%;
}

.indexInfo .veterinaria h3, .indexInfo .infoTrabajo h3 {
  margin-top: 1em;
  text-align: center;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  color: grey;
  -webkit-text-decoration: gray;
          text-decoration: gray;
  background: -webkit-linear-gradient(#7e1c1c, #120c33);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  width: 100%;
}

.indexInfo .infoTrabajo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1em;
}

.indexInfo .infoTrabajo .vetContacto {
  font-size: 16px;
  color: #6b695f;
  font-weight: normal;
  text-align: justify;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  width: 100%;
}

.indexInfo .infoTrabajo a .btn {
  margin-bottom: 1em;
}

.indexInfo .infoTrabajo .btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-style: solid;
  border-width: 1px;
  border-color: #6b695f;
}

@media screen and (min-width: 901px) {
  .indexInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .indexInfo .veterinaria h3, .indexInfo .infoTrabajo h3 {
    text-align: start;
    margin-left: 1.2em;
  }
  .indexInfo .vetContacto {
    padding: 1em;
  }
}

.footer {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #e2ded6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
}

.footer .footer1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .footer1 .logoFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4em;
  margin-left: 2em;
}

.footer .footer1 .logoFooter img {
  width: 7em;
  height: 7em;
}

.footer .footer1 .logoFooter p {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  color: grey;
  -webkit-text-decoration: gray;
          text-decoration: gray;
  background: -webkit-linear-gradient(#7e1c1c, #120c33);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
}

.footer .footer1 .mapaSitio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1em;
  border-left-color: #1c173a;
  border-left-style: solid;
  border-left-width: 1px;
  padding: 2em;
}

.footer .footer1 .mapaSitio a {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  color: grey;
  -webkit-text-decoration: gray;
          text-decoration: gray;
  background: -webkit-linear-gradient(#7e1c1c, #120c33);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px;
  margin-top: 1em;
  font-weight: bold;
}

.footer .footer2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2em;
  padding: 1em;
}

.footer .footer2 .suscribe {
  border-left: red;
  margin-right: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1em;
}

.footer .footer2 .suscribe .btn {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: 1em;
  margin-bottom: 1em;
}

.footer .footer2 .suscribe .btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-style: solid;
  border-width: 1px;
  border-color: #6b695f;
}

.footer .footer2 .suscribe h5 {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  color: grey;
  -webkit-text-decoration: gray;
          text-decoration: gray;
  background: -webkit-linear-gradient(#7e1c1c, #120c33);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer .footer2 .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer2 .redes a img {
  width: 2em;
  height: 2em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

@media screen and (min-width: 601px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 901px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
  height: auto;
  padding: 1em;
  background-color: azure;
}

.nosotros .info {
  width: 90vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2em;
  background-color: #f7f1e3;
  margin-bottom: 1em;
  padding: 1em;
  background-color: aqua;
  gap: 2vw;
}

.nosotros .info .info__texto {
  width: 95%;
  font-size: 16px;
  color: #6b695f;
  font-weight: normal;
  text-align: justify;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

.nosotros .info .info__texto .info__nombre {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  color: grey;
  -webkit-text-decoration: gray;
          text-decoration: gray;
  background: -webkit-linear-gradient(#7e1c1c, #120c33);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nosotros .info .info__texto p {
  background-color: beige;
}

.nosotros .info .nosotrosImagen {
  width: 95%;
  min-height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.nosotros .walter .nosotrosImagen {
  background-image: url(../fotos/walter.jpg);
}

.nosotros .patricio .nosotrosImagen {
  background-image: url(../fotos/pato.jpg);
}

.nosotros .ariel .nosotrosImagen {
  background-image: url(../fotos/bartolo.jpg);
}

.seguinos {
  margin-top: 3em;
  font-size: 22px;
  font-size: 16px;
  color: #6b695f;
  font-weight: normal;
  text-align: justify;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.instagram {
  width: 90%;
  margin-left: 2em;
}

@media screen and (min-width: 720px) {
  .nosotros .info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nosotros .patricio {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media screen and (min-width: 901px) {
  .nosotros {
    width: 100%;
    margin-left: 0%;
  }
  .nosotros .info {
    width: 85%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nosotros .info .info__texto {
    width: 50%;
    padding: 1em;
    margin-left: 0%;
  }
  .nosotros .info .info__imagen__walter {
    width: 50%;
    margin-top: 1.5em;
    margin-right: 1em;
  }
  .instagram {
    margin-left: 7em;
  }
}

.sectionServicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sectionServicios .sanidad, .sectionServicios .reproduccion, .sectionServicios .venta, .sectionServicios .analisis {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f1e3;
  margin-top: 2em;
  margin-left: 1.5em;
}

.sectionServicios .sanidad .serv__foto, .sectionServicios .reproduccion .serv__foto, .sectionServicios .venta .serv__foto, .sectionServicios .analisis .serv__foto {
  width: 90%;
  padding: 1em;
}

.sectionServicios .sanidad .serv__titulo, .sectionServicios .reproduccion .serv__titulo, .sectionServicios .venta .serv__titulo, .sectionServicios .analisis .serv__titulo {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  color: grey;
  -webkit-text-decoration: gray;
          text-decoration: gray;
  background: -webkit-linear-gradient(#7e1c1c, #120c33);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0%;
}

.sectionServicios .sanidad .servicios, .sectionServicios .reproduccion .servicios, .sectionServicios .venta .servicios, .sectionServicios .analisis .servicios {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sectionServicios .sanidad .servicios p, .sectionServicios .reproduccion .servicios p, .sectionServicios .venta .servicios p, .sectionServicios .analisis .servicios p {
  font-size: 16px;
  color: #6b695f;
  font-weight: normal;
  text-align: justify;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  padding: 1em;
  margin-top: 0%;
}

.sectionServicios .venta {
  margin-bottom: 1em;
}

.sectionServicios .venta .venta__foto {
  margin-top: 1em;
  width: 25em;
  height: auto;
}

@media screen and (min-width: 901px) {
  .sectionServicios .sanidad, .sectionServicios .reproduccion, .sectionServicios .venta, .sectionServicios .analisis {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 80%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: 1em;
  }
  .sectionServicios .sanidad .servicios, .sectionServicios .reproduccion .servicios, .sectionServicios .venta .servicios, .sectionServicios .analisis .servicios {
    width: 50%;
  }
  .sectionServicios .sanidad .servicios .serv__titulo, .sectionServicios .reproduccion .servicios .serv__titulo, .sectionServicios .venta .servicios .serv__titulo, .sectionServicios .analisis .servicios .serv__titulo {
    margin-top: 1em;
  }
  .sectionServicios .sanidad .servicios p, .sectionServicios .reproduccion .servicios p, .sectionServicios .venta .servicios p, .sectionServicios .analisis .servicios p {
    padding: 2em;
    padding-top: 0%;
  }
  .sectionServicios .sanidad .serv__foto, .sectionServicios .reproduccion .serv__foto, .sectionServicios .venta .serv__foto, .sectionServicios .analisis .serv__foto {
    width: 50%;
  }
  .sectionServicios .reproduccion, .sectionServicios .venta {
    margin-left: 15em;
  }
  .sectionServicios .venta {
    margin-bottom: 1em;
  }
  .sectionServicios .venta .venta__foto {
    padding: 1em;
  }
}

.contacto__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2em;
}

.contacto__page .mapa {
  width: 90%;
  height: 43em;
  margin-left: 1em;
}

.contacto__page .formulario {
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #f7f1e3;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.contacto__page .formulario__input {
  width: 85%;
  margin-top: 1em;
  margin-left: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  color: #6b695f;
  font-weight: normal;
  text-align: justify;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

.contacto__page .formulario__input textarea {
  margin-top: 1em;
}

.contacto__page .formulario__input .enviar:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-style: solid;
  border-width: 1px;
  border-color: #6b695f;
}

@media screen and (min-width: 901px) {
  .contacto__page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=estilo.css.map */