@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&family=Open+Sans:wght@300&family=Poppins:wght@200&family=Raleway:wght@200&display=swap');


//variables
$color1: rgb(245, 243, 243);
$color2: rgb(63, 60, 60);
$color3: rgb(247, 241, 227);
$color4: rgb(107, 105, 95);
$color5: rgb(226, 222, 214);
$color6: rgb(28, 23, 58);
$h2: 18px;

//maps
$fontSizes: ("small": 16px, "medium": 20px, "large": 35px);

// mixins
@mixin logo {
    width: 5em;
    height: 5em;
    margin-top: 0.5em;
    margin-left: 1em;
}

@mixin texto-index {
    font-size: map-get($fontSizes, "large");
    font-family: 'Raleway', sans-serif;
    color: grey;
    text-decoration: gray;
    background: -webkit-linear-gradient(rgb(126, 28, 28), rgb(18, 12, 51));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin textos {
    font-size: map-get($fontSizes, "small");
    color: $color4;
    font-weight: normal;
    text-align: justify;
    padding: 1em;
    font-family: 'Poppins', sans-serif;
}

@mixin footer-p {
    color: $color4;
    font-family: 'Montserrat', sans-serif;
    font-size: map-get($fontSizes, "small");
    margin-bottom: 0.5em;
}

@mixin borderFooter {
    border-left-color: $color6;
    border-left-style: solid;
    border-left-width: 1px;
    padding: 2em;
}

@mixin mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@mixin buttonHover{
    transform: scale(1.1);
    border-style: solid;
    border-width: 1px;
    border-color: $color4;
}



// estilos

* {
    margin: 0%;
    padding: 0%;
}


body {
    background-color: $color1;
}

main{
width: 100%;
@media screen and (min-width:375px) {
    width: 100%;
}
}

h2 {
    @include texto-index;
    text-align: center;
    font-size: map-get($fontSizes, "large");

    @media screen and (min-width:375px) {
        width: 100%;
        margin-left: 1em;
    }

    @media screen and (min-width:900px) {
        @include desktop();
        margin-left: 0%;
    }
}

// navbar
.logo {
    @include logo();
}


#navbarNav {
    text-align: end;
    margin-right: 1em;
    justify-content: end;
}


.navbar-toggler:hover {
    background-color: $color2;
}

h2{
    @include texto-index();
    text-align: center;
}

// index
.intro {
    background-color: $color1;

    h1 {
        width: 80%;
        text-align: center;
        margin-left: 1em;     
        @include texto-index()
    }

    .jumbotron {
        width: 100%;
        height: 20em;
        background-image: url(../fotos/trigo.jpg);
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
    }

    @media screen and (min-width:375px) {
        @include mobile();
        h1{
            font-size: 28px;
            margin-left: 2em;
            margin-bottom: 1em;
        }
    }

    @media screen and (min-width:900px) {
        @include desktop();
    }
}

// asesoramiento

.asesoramiento{
    background-color: $color3;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 9em;
    margin-bottom: 1em;

    img{
        width: 50%;
        height: auto;
        padding: 1em;
    }
    p{
        width: 50%;
        @include textos;
        padding: 2em;
        margin-top: 4em;
    }

    @media screen and (min-width:375px){
        @include mobile;
            .asesoramiento{
                width:100%;
                img{
                    width: 100%;
                }
                p{
                    width: 100%;
                }
            }
    }

    @media screen and (min-width:901px) {
        @include desktop;
    }
}


// partials
@import "info";
@import "footer";
@import "nosotros";
@import "servicios";
@import "contacto";




   
   

